@page "/about"

@using Microsoft.AspNetCore.Components.Forms
@using Bastion.Core.Domain.UserInputSecret;
@using Bastion.Core.Domain.UserInputSecret.Dto;
@using Bastion.Core.Domain.UserInputSecret.Pipelines;
@using Bastion.Core.Domain.Encryption;
@using Bastion.Core.Domain.Encryption.Pipelines;
@using Bastion.Core.Domain.Decryption;
@using Bastion.Core.Domain.Decryption.Pipelines;
@using Bastion.Models;

<PageTitle>Bastion</PageTitle>

<h1>About Bastion</h1>
<div class="alerts">
    Bastion is a web app that allows for sharing secret messages with end-to-end encryption. 
    The app uses AES to encrypt and decrypt your messages, and stores them safely until they are opened by a receiver before their lifetime ends.
    When a secret is opened, or it's lifetime expires, the secret is deleted and cannot be retrieved.
</div>
<div class="alerts">
    The secret can either be shared using the generated URL by itself, or it can be shared with either one receiver, or a group of receivers,
    by choosing who you want to share it with prior to generating the secret URL. To be able to choose your receiver(s), you need to login to the
    web app and authenticate yourself.
</div>

@code {


}