@page "/"

@using Microsoft.AspNetCore.Components.Forms
@using Bastion.Core.Domain.UserInputSecret;
@using Bastion.Core.Domain.UserInputSecret.Dto;
@using Bastion.Core.Domain.UserInputSecret.Pipelines;
@using Bastion.Core.Domain.Encryption;
@using Bastion.Core.Domain.Encryption.Pipelines;
@using Bastion.Core.Domain.Decryption;
@using Bastion.Core.Domain.Decryption.Pipelines;

<PageTitle>Bastion</PageTitle>

<h1>Encrypt your secret using AES</h1>

<EditForm Model="@userInputModel" OnSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Secret message: 
        <br/>
        <InputTextArea style="width: 300%" rows="15" id="plaintext" @bind-Value="userInputModel.SecretPlaintext" />

    </label>
    <br/> <br/>
    <label>
        Lifetime (hours):
        <InputNumber id="lifetime" @bind-Value="userInputModel.Lifetime" />
    </label>
    <br/><br/>
    <button type="submit">Encrypt message</button>
</EditForm>

<br/>

<h1>Display encrypted secret and lifetime here</h1>
<div>@encryptedString</div>
<h1>Display decrypted secret here</h1>
<div>@decryptedString</div>

@*<SurveyPrompt Title="How is Blazor working for you?" /> *@

@code {
    private UserInputModel userInputModel = new();
    private string encryptedString = "No value";
    private string decryptedString = "No value";

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleSubmit called");

        var responseInput = await mediator.Send(new CreateUserInput.Request(userInputModel.SecretPlaintext, userInputModel.Lifetime));

        if (responseInput.success)
        {
            Logger.LogInformation("UserInput created");

            // Create UserInputDto
            UserInput userInput = responseInput.userInput;
            UserInputDto userInputDto = new UserInputDto(userInput.Id, userInput.TimeStamp, userInput.Plaintext, userInput.Lifetime);

            // Encrypt and store data 
            var response = await mediator.Send(new EncryptAndSaveSecret.Request(userInputDto));
            if (response.CiphertextBytes is not null)
            {
                encryptedString = Convert.ToBase64String(response.CiphertextBytes);
            }
            else
            {
                encryptedString = "Failure";
            }

            // Decrypt and display
            var responseDecrypt = await mediator.Send(new DecryptAndDeleteSecret.Request(response.Id));
            decryptedString = responseDecrypt.Plaintext;
        }
    }
}