@page "/"

@using Microsoft.AspNetCore.Components.Forms
@using Bastion.Core.Domain.UserInput;
@using Bastion.Core.Domain.UserInput.Dto;
@using Bastion.Core.Domain.Encryption;
@using Bastion.Core.Domain.Encryption.Pipelines;
@using Bastion.Core.Domain.UserInput.Pipelines;

<PageTitle>Bastion</PageTitle>

<h1>Encrypt your secret using AES</h1>

<EditForm Model="@userInputModel" OnSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Secret message: 
        <br/>
        <InputTextArea style="width: 300%" rows="15" id="plaintext" @bind-Value="userInputModel.SecretPlaintext" />

    </label>
    <br/> <br/>
    <label>
        Lifetime (hours):
        <InputNumber id="lifetime" @bind-Value="userInputModel.Lifetime" />
    </label>
    <br/><br/>
    <button type="submit">Encrypt message</button>
</EditForm>

<br/>

<h1>Display encrypted secret and lifetime here</h1>
<div>@encryptedString</div>

@*<SurveyPrompt Title="How is Blazor working for you?" /> *@

@code {
    private UserInputModel userInputModel = new();
    private string encryptedString = "";

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleSubmit called");

        var responseInput = await mediator.Send(new CreateUserInput.Request(userInputModel.SecretPlaintext, userInputModel.Lifetime));

        if (responseInput.success)
        {
            Logger.LogInformation("UserInput created");

            // Create UserInputDto
            UserInput userInput = responseInput.userInput;
            UserInputDto userInputDto = new UserInputDto(userInput.Id, userInput.TimeStamp, userInput.SecretPlaintext, userInput.Lifetime); 
            
            // Encrypt and store data 
            var response = await mediator.Send(new EncryptAndSaveSecret.Request(userInputDto));

            if (response.ciphertextBytes is not null)
            {
                encryptedString = System.Text.Encoding.Default.GetString(response.ciphertextBytes);
            }
            else
            {
                encryptedString = "Failure";
            }

        }

        // Process by creating a user object and a dto to send to Encryption domain? 
        // TODO: Have code here or in separate file? 

        // Display the encrypted secret for testing purposes
        // Could we have a user input DTO func? 
        // bool success;
        // How do we utilize the service here? 

        // TODO: Send userinput object to service with a request to payment service
        // TODO: Do a pipeline for userinput object perhaps? 
    }
}